@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

body{
    font-family: "Nunito", sans-serif !important;
}

h1{
    margin-bottom: 0 !important;
}

ul{
    padding-left: 0 !important;
}

li{
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px !important;
}

li:last-child{
    margin-bottom: 0 !important;
}

li span{
    font-size: 1.4rem;
    margin-right: 10px;
}

li input {
    margin: 0 !important;
}

li i:hover{
    cursor: pointer;
    color: var(--bs-danger) !important;
}

.completed{
    text-decoration: line-through !important;
}

.add-todo{
    height: 50px !important;
    width: 50px !important;
    background: var(--bs-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
}

.add-todo:hover{
    cursor: pointer;
    background: var(--bs-info);
}

.add-todo i{
    color: white;
    font-size: 1.3rem;
}

.container input[type="text"]{
    margin-top: 30px !important;
}

.hidden{
    display: none;
}

.button-group{
    margin-top: 20px;
}

i.fa-trash, i.fa-trash::after, i.fa-trash::before{
    display: inline-block;
    text-decoration: none !important;
}